*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(201, 187, 162);
}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height:40vh ;
    min-width: 37vh;

}

form{
margin-top: 2rem;
margin-bottom: 1rem;
}

form button select input{
width: 100%;
border: none;
}

input{
    border : 1px solid lightgray;
    min-height: 2rem;
    padding-left: 0.7rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container select{
    border: none;
    font-size: 1rem;
    width: auto;
}

.select-container {
display: flex;
justify-content: center;
align-items: center;
width: 6rem;
border-radius: 0.5rem;
border : 1px solid lightgray;
}

.final-msg{
    margin: 0rem;

}
form button{
    margin-top: 2rem;
    height: 2rem;
    width: 100%;
    font-size: 1.1rem;
    background-color: rgb(69, 3, 69);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;

}